body{
    background-color: rgb(4,29,29);
}
.container{
    width: 360px;
    padding:33px ;
    text-align: center;
    background-color: rgba(196, 167, 6, 0.305);
    margin: 33%;
    margin-top: 25px;
}

input{
    width: 260px;
    height: 42px;
    color:black;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 22px;
}

button{
    width: 60px;
    height: 42px;
    background-color: rgb(4, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 22px;
}

.text ul{
    background-color: aqua;
    padding: 20px;
    color: white;
    font-size: 25px;
    background-color: rgb(4, 29, 29);
}

.text ul i{
    padding-left: 200px;
}